{% if clusteredData %}
  <div class="middle">
    <h2 style="text-align: center; color: var(--primary);">Download Your Clustered File</h2>
    <form action="/Download" method="post" enctype="multipart/form-data" id="downloadFile" style="width: 60%; margin: auto;">
      <div style="display: flex; justify-content: center; gap: 0.8em;  width: 100%; margin: 2em 0;">
        <label for="fileTypes">Choose Type:</label>
        <select name="fileTypes" id="dFileType">
          <option value="csv">CSV</option>
          <option value="excel">XLSX</option>
          <option value="json">JSON</option>
        </select>
      </div>
      <div style="width: 90%; margin: auto;">
        <button type="submit" style=" width: 100%; padding: 1em; border-radius: 20px; background-color: var(--secondary); font-size: larger; color: white;" ><span style="margin: 0 0.5em;"><i class="fas fa-download"></i></span>Download</button>
      </div>
    </form>
  </div>
{% else %}
{% endif %}