{% if quote or clusteredData%}
<div class="middle" id="priority">
  <h3>
    <i class="fas fa-layer-group" style="margin-right: 6px; color: #34495e;"></i>
    Do you want to define custom clustering priorities for these columns?
  </h3> 
  <p style="margin: 1em 0; text-align: center;">( Optional but recommended )</p>
  <form action="/start" method="POST" enctype="multipart/form-data" >
    <h4 style="text-align: center;">
      <i class="fas fa-sort-numeric-up-alt" style="margin-right: 5px; color: #2980b9;"></i>
      Smaller number = higher priority
    </h4>
    <div id="askForPrio">
    {% for i in columns %}
      <div style="margin: 0.6em 0; display: flex;" id="inputField">
        <label style="margin-right: 0.5em; font-weight: 600;">
          <i class="fas fa-columns" style="margin-right: 4px; color: #7f8c8d;"></i> {{i}}:
        </label>
        <input type="number" name="{{i}}" min="1" placeholder="e.g. 1" >
      </div>
    {% endfor %}
    </div>
    {% if noOfCluster %}
      <div id="divNCluster" style="width: 100%;display: flex; justify-content: center; gap: 0.7em">
        <label for=""><strong>No of clusters:</strong></label>
        <input type="number" name="nCluster" placeholder="e.g. 10">
      </div>
    {% else%}
    {% endif %}
    <div id="button">
      <button type="reset" name="skipped"value="0">
        <i class="fas fa-forward" style="margin-right: 4px;"></i> reset
      </button>
      <div style="display: flex; justify-content: center; gap: 0.8em">
        <label for="decc"><i class="fas fa-arrow-down"></i>Desending Order</label>
        <input type='checkbox' value="decO" name="dec" id="decc">
      </div>
      <button type="submit" name="done" value="">
        <i class="fas fa-project-diagram" style="margin-right: 4px;"></i> Cluster
      </button>
    </div>
  </form>
</div>      
{% else %}
{% endif %} 